@font-face {
    font-family: wedding;
    src: url(assets/GreatVibes-Regular.woff) format("woff"), url(assets/GreatVibes-Regular.woff2) format("woff2")
}

@font-face {
    font-family: opensans;
    src: url(assets/OpenSansCondensed-Light.woff) format("woff"), url(assets/OpenSansCondensed-Light.woff2) format("woff2")
}

@font-face {
    font-family: greatVibes;
    src: url(assets/GreatVibes-Regular.woff) format("woff"), url(assets/GreatVibes-Regular.woff2) format("woff2")
}

* {
    box-sizing: border-box;
    font-family: opensans;
    margin: 0;
    padding: 0
}

header h1 {
    font-family: wedding;
    position: absolute;
    font-size: 72px;
    z-index: 1;
    top: 10%;
    left: 8%;
    color: #fff;
    font-weight: normal;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    animation: 1s;
    animation-name: slideIn;
}

.banner, header h1 {
    display: block;
}

.banner {
    position: relative;
    height: 700px;
    opacity: 1;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(assets/banner.jpg)
}

.banner .countdown {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000
}

.banner .countdown .timer {
    width: 80px;
    height: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #fff;
    border-radius: 50%;
    background-color: #000;
    opacity: .95;
    margin: 10px
}

.banner video {
    position: absolute
}

.save-the-date {
    display: flex;
    min-height: 800px;
    background-color: #5e105b
}

@media only screen and (max-width:768px) {
    .save-the-date {
        display: block;
        min-height: 600px
    }
    .save-the-date video {
        width: 100%
    }
}

.save-the-date .invite {
    flex-basis: 50%;
    background-image: url(assets/invite.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%
}

.save-the-date .std {
    flex-basis: 50%
}

.intro {
    margin: auto;
    padding: 40px 0;
    background-color: #fff
}

.intro .heading {
    font-size: 72px;
    padding: 20px;
    text-align: center;
    font-family: wedding
}

.bride-groom {
    display: flex;
    align-items: center;
    justify-content: space-between
}

@media only screen and (max-width:768px) {
    .bride-groom {
        display: block
    }
}

.bride-groom .ampersand {
    font-size: 60px;
    color: #000;
    font-family: wedding;
}

@media only screen and (max-width:768px) {
    .bride-groom .ampersand {
        display: block;
        text-align: center;
    }
}

.bride-groom .bride, .bride-groom .groom {
    padding: 30px;
    text-align: center;
    background-color: #fff
}

.bride-groom .bride .image, .bride-groom .groom .image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: inline-block;
    background-size: cover
}

.bride-groom .bride .image {
    background-image: url(assets/pandey.jpg)
}

.bride-groom .groom .image {
    background-image: url(assets/jeetu.jpg)
}

.bride-groom .bride-text, .bride-groom .groom-text {
    padding: 20px 40px
}

.parallex-bg {
    height: 600px;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative
}

.parallex-bg.couple-banner {
    background-image: url(assets/banner2.jpg)
}

.parallex-bg.bride-banner {
    background-image: url(assets/banner3.jpg);
    opacity: .85
}

.parallex-bg.groom-banner {
    background-image: url(assets/banner4.jpg);
    opacity: .85
}

.parallex-bg .banner-text {
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 72px;
    font-style: italic
}

.team-bride, .team-groom {
    padding: 40px
}

.team-bride .gang, .team-groom .gang {
    display: flex;
    align-items: center
}

.team-bride .gang.even, .team-groom .gang.even {
    flex-direction: row-reverse
}

.team-bride .gang .gang-image, .team-groom .gang .gang-image {
    display: inline-block;
    flex-basis: 200px;
    border-radius: 50%;
    background-color: #5e105b;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.team-bride .gang .gang-image.shrinwanti {
    background-image: url(assets/wanti.jpg);
}

.team-bride .gang .gang-image.shalini {
    background-image: url(assets/shalini.jpg);
}

.team-bride .gang .gang-image.sneha {
    background-image: url(assets/sneha.jpg);
}

.team-bride .gang .gang-image.swayam {
    background-image: url(assets/swayam.jpg);
}

.team-bride .gang .gang-message, .team-groom .gang .gang-message {
    padding: 0 30px
}

@media only screen and (max-width:768px) {
    .team-bride .gang, .team-groom .gang {
        margin-bottom: 30px;
        display: block
    }
    .team-bride .gang p, .team-groom .gang p {
        text-align: center
    }
}

/* Animations */

@-webkit-keyframes slideIn {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideIn {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation: fadeIn 3s;
    animation: fadeIn 3s;
}